html {
    box-sizing: border-box;
    font-style: normal;
  }
  
  *,
  *::after,
  ::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  main {
    background-color: rgb(196, 196, 196, 0.1);
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error{
    border: 1px solid rgba(255, 0, 0, 0.524) !important;   
    box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.524) !important;
  }

  .label-error{
    color:rgba(255, 0, 0, 0.524) ;
  }

  .message-error{
    color: red !important;
    display: block !important;
    color: #b00020;
    font-size: 13px;
    text-align: end !important;     
  }

  .errorMessageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0, 0.1);
    border-radius: 8px;
    width: 33%;  
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .form {
    padding-top: 18px;
    width: 33%;
  }
  
  form {
    color: #383B58;
    font-size: 12px;
    font-weight: 700;
  }
  
  form input {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    color: #383b58;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    margin-top: 7px;
    outline: none;
    padding: 10px;
    width: 100%;
  }
  
  form input:focus {
    border: 1px solid #1DBEB4;
    box-shadow: 0px 0px 5px 1px rgba(29, 190, 180, 0.8);
  }
  
  .form h2 {
    color: #1DBEB4;
    font-size: 24px;
    font-weight: 700;
    height: 40px;
    text-align: center;
  }

  .form-login {
    display: none;
  }
  
  .form-login-error p {
    display: block;
    color: #6b0101 !important;
  }
  
  .boton {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 18px;
  }
  
  .boton-login {
    border: none;
    background-color: #1DBEB4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    width: 50%;
    cursor: pointer;
  }
  
  .boton-login:hover {
    background-color: #18a79d;
    transition: 0.3s;
  }
  
  .login p {
    color: #383B58;
    font-size: 12px;
    text-align: center;
  }
  
  .login-input {
    margin: 15px 0;
  }
  
  .login-input p {
    margin-top: 5px;
    display: none;
  }
  
  .link {
    color: #4285f4;
  }
  
  .link:hover {
    color: #1DBEB4;
  }
  
  @media screen and (max-width: 768px) {
  
    .boton {
      margin-top: 63px;
      margin-bottom: 16px;
    }
    .boton-login {
      width: 100%;
    }
    .form {
          width: 80%;
    }
    .login-input {
      margin-top: 21px;
    }
    main {
      height: 84.5vh;
    }
  }
  
  @media screen and (max-width: 575.98px) {

    .boton {
      margin-top: 40px;
      margin-bottom: 7px;
    }
    .form {
      width: 80%;
    }
    .login-input {
      margin-bottom: 0;
      margin-top: 3%;
    }
    main {
      height: 83.4vh;
    }
  }
  